<h1>Admin Dashboard</h1>
<%= link_to "Create Campaign", new_admin_campaign_path %>

<div class='campaigns'>
  <% @campaigns.each do |campaign| %>
    <div id="<%= campaign.title.parameterize %>">
      <p><%= image_tag campaign.image_link %></p>
      <p><h2><%= campaign.title %></h2></p>
      <p><%= campaign.description %></p>
      <p><%= link_to "Details", admin_campaign_path(campaign) %>
      <p><%= link_to "Edit", edit_admin_campaign_path(campaign) %></p>
    </div>
  <% end %>
</div>