<h1>Admin Dashboard</h1>
<div><%= link_to "Create Campaign", new_admin_campaign_path %></div>

<div class='campaigns'>
  <% @campaigns.each do |campaign| %>
    <div id="<%= dom_id(campaign) %>">
      <p><%= image_tag campaign.image.representation(resize_to_limit: [320, 180]) if campaign.image.present? %></p>
      <p><h2><%= campaign.title %></h2></p>
      <p><%= campaign.description %></p>
      <p><%= link_to "Details", admin_campaign_path(campaign) %>
      <p><%= link_to "Edit", edit_admin_campaign_path(campaign) %></p>
    </div>
  <% end %>
</div>

<p><%= link_to "Characters", admin_characters_path %></p>