<h1>Edit Campaign</h2>
<div>
<%= form_with model: @campaign, url: admin_campaign_path do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
    <%= form.label :image %>
    <% if @campaign.image.present? %>
      <div id="<%= dom_id(@campaign, :image) %>">
        <%= image_tag @campaign.image.representation(resize_to_limit: [320, 180]) %>
        <%= link_to "Remove Image", admin_campaign_image_path(@campaign), data: { turbo_method: :delete, turbo_confirm: "Are you sure? Any other changes may be lost." } %>
      </div>
    <% end %>
    <%= form.file_field :image %>
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
    <%= form.submit "Update Campaign" %>
  </div>
</div>
<% end %>
